jupyter
kagglehub
pandas
scikit-learn
seaborn
matplotlib
langgraph
langchain
langchain-tavily
python-dotenv
xgboost
streamlit
tomli
fastapi
uvicorn
joblib
numpy
ijson
langgraph-cli[inmem]
streamlit
requests